aiodns==3.0.0
aiofiles==23.1.0
aiogram==3.0.0b7
aiohttp==3.8.4
aiohttp-client-cache==0.6.1
aiosignal==1.3.1
alembic==1.11.1
appdirs==1.4.4
async-timeout==4.0.2
asyncpg==0.27.0
attrs==21.4.0
Brotli==1.0.9
cattrs==23.1.2
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
environs==9.5.0
exceptiongroup==1.1.2
frozenlist==1.3.3
greenlet==2.0.2
homeassistant-api
idna==3.4
itsdangerous==2.1.2
lexicon==2.0.1
magic-filter==1.0.9
Mako==1.2.4
MarkupSafe==2.1.3
marshmallow==3.19.0
multidict==6.0.4
packaging==23.1
psycopg==3.1.9
pycares==4.3.0
pycparser==2.21
pydantic==1.9.0
python-dotenv==1.0.0
python-forge==18.6.0
redis==4.5.5
requests==2.31.0
requests-cache==0.9.8
simplejson==3.19.1
six==1.16.0
SQLAlchemy==2.0.17
typing_extensions==4.7.1
url-normalize==1.4.3
urllib3==2.0.3
yarl==1.9.2
